@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SUIT";
    src: url("/fonts/SUIT/SUIT-Variable.ttf");
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins.ttf");
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Cochin";
    src: url("/fonts/Cochin/Cochin.ttf");
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
  }

  h1 {
    @apply text-3xl tracking-tightest;
  }
  h2 {
    @apply text-2xl tracking-tightest;
  }
  h3 {
    @apply text-xl tracking-tighter;
  }
  h4 {
    @apply text-lg tracking-tighter;
  }
  p {
    @apply tracking-tight whitespace-pre-line;
  }

  a,
  button,
  img,
  nav,
  header {
    @apply select-none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    scrollbar-width: thin;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #989899;
    border-radius: 99px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #dddddd;
    border-radius: 99px;
  }
}

@layer components {
  .h1 {
    @apply text-3xl tracking-tightest;
  }
  .h2 {
    @apply text-2xl tracking-tightest;
  }
  .h3 {
    @apply text-xl tracking-tighter;
  }
  .h4 {
    @apply text-lg tracking-tighter;
  }
  .body-1 {
    @apply text-base tracking-tight;
  }
  .body-2 {
    @apply text-sm tracking-tight;
  }
  .caption-1 {
    @apply text-xs tracking-normal;
  }
  .caption-2 {
    @apply text-2xs tracking-normal;
  }
}
